<h3>Child2</h3>

@code {
    [Parameter]
    public Person? Param1 { get; set; } 

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            Console.WriteLine("Child2 First Render");
        }
        else
        {
            Console.WriteLine("Child2 Second Render");
        }
    }

    public class Person
    {
        public string? Name { get; set; }
        public int? Age { get; set; }
    }
}
